In [126]:
import innit as inn
import pandas as pd
import numpy as np
import Sphere as sp
import imp
imp.reload(inn);
imp.reload(sp);
import time

In [133]:
pop = inn.initialize(20,20)
fitness = []
for i in range(len(pop)):
    fitness.append(sp.Sphere(pop.genes[i]))
pop['fitness'] = fitness

In [134]:
pop

                   genes  fitness
0   00101010001111000011        9
1   00011011011000101110       10
2   11111111001000110010       12
3   10001010011100100101        9
4   10011011101100111101       13
5   11001001100110101110       11
6   10000010001010110011        8
7   10011101100111001001       11
8   11100011100100001100        9
9   11001111100110011101       13
10  11010100100000001111        9
11  01010100100011111000        9
12  00001111110111010001       11
13  11111010101001110010       12
14  11111001010000101101       11
15  10101101000000000110        7
16  10100101010000011100        8
17  11010010011101111101       13
18  10101100000010111011       10
19  00000011000010010101        6

In [135]:
Er = 0.1

In [136]:
def ellist(pop,Er):
    M = len(pop)
    Elit_no = int(round(M*Er))
    fitness1 = pop.fitness
   
    ww = pop.sort_values(['fitness'],ascending=False)
    
    sorted_idx= list(pop.index)    
    nom_fit = list(pop.fitness)
    
    newpopulation = np.array(pop.drop(['fitness'],axis=1))
    fitness = []
    for i in range(Elit_no+1):
        print(sorted_idx[i])
        newpopulation[i] = ww.genes.iloc[sorted_idx[i]][:]
        fitness.append(nom_fit[i])
   
    for i in range(Elit_no+1,M):
        newpopulation[i] = pop.genes.iloc[i][:]
        fitness.append(fitness1[i])
    newpopulation = pd.DataFrame(newpopulation,columns=['genes'])
    newpopulation['fitness'] = fitness

    return newpopulation

In [137]:
ellist(pop,Er)

                   genes  fitness
0   00101010001111000011        9
1   00011011011000101110       10
2   11111111001000110010       12
3   10001010011100100101        9
4   10011011101100111101       13
5   11001001100110101110       11
6   10000010001010110011        8
7   10011101100111001001       11
8   11100011100100001100        9
9   11001111100110011101       13
10  11010100100000001111        9
11  01010100100011111000        9
12  00001111110111010001       11
13  11111010101001110010       12
14  11111001010000101101       11
15  10101101000000000110        7
16  10100101010000011100        8
17  11010010011101111101       13
18  10101100000010111011       10
19  00000011000010010101        6
                   genes  fitness
4   10011011101100111101       13
17  11010010011101111101       13
9   11001111100110011101       13
2   11111111001000110010       12
13  11111010101001110010       12
12  00001111110111010001       11
5   11001001100110101110       11
7   10011101100111001001       11
14  11111001010000101101       11
18  10101100000010111011       10
1   00011011011000101110       10
0   00101010001111000011        9
10  11010100100000001111        9
11  01010100100011111000        9
8   11100011100100001100        9
3   10001010011100100101        9
16  10100101010000011100        8
6   10000010001010110011        8
15  10101101000000000110        7
19  00000011000010010101        6
0
1
2
                   genes  fitness
0   10011011101100111101        9
1   11010010011101111101       10
2   11001111100110011101       12
3   10001010011100100101        9
4   10011011101100111101       13
5   11001001100110101110       11
6   10000010001010110011        8
7   10011101100111001001       11
8   11100011100100001100        9
9   11001111100110011101       13
10  11010100100000001111        9
11  01010100100011111000        9
12  00001111110111010001       11
13  11111010101001110010       12
14  11111001010000101101       11
15  10101101000000000110        7
16  10100101010000011100        8
17  11010010011101111101       13
18  10101100000010111011       10
19  00000011000010010101        6

In [89]:
print(pop)

                   genes  fitness
17  01111111110100110110       14
6   10011100111110110111       14
19  11011110100110111001       13
8   11011011010011110110       13
16  11100000111110101001       11
14  11011110010010110100       11
9   00101100101111001011       11
10  11011011001001101100       11
7   10011101011000110001       10
11  11100010010010110110       10
3   11011000011101011000       10
1   10000100100100110111        9
15  01000110010011001110        9
13  00000110101100001110        8
12  01000111000000101010        7
2   01001001000001011010        7
0   11000000001011001010        7
18  01110000000011100000        6
4   10100001000000010000        4
5   00001000000011000000        3

In [97]:
 ww = pop.sort_values(['fitness'],ascending=False)

In [109]:
ww

                   genes  fitness
10  01111011100100101101       12
13  01010001011111011110       12
6   00110111010111010011       12
8   10111000110010111101       12
1   10111101100011000111       12
7   00001110111111000110       11
9   00100100011111011011       11
14  11011111000100001100       10
4   11100011010001001101       10
11  01110000101011010110       10
12  01011000100101101001        9
15  01100100001111101000        9
19  00001101101001001101        9
3   01000111010110010001        9
2   00001110101001010001        8
16  00100011101010000011        8
18  11010100000000110101        8
0   10000011100000001101        7
17  00010010100111000000        6
5   10000001011000000100        5

In [111]:
ww.fitness[0]

7